/** Create / update page CSS **/

.top-padding {
    padding: 10px 0px;
}

.bottom-padding {
    padding-bottom: 2px;
}

.left-padding {
    padding-left: 15px;
}

.right-padding {
    padding-right: 15px;
}

.no-padding {
    padding: 0px;
}

/** Modal properties. **/

.form-group>label {
    min-width: 50%;
}

.caretdown-icon {
    background-image: url(../../../../../com/opentext/apps/utils/img/caret_down.svg);
    background-size: cover;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.caretup-icon {
    background-image: url(../../../../../com/opentext/apps/utils/img/caret_down.svg);
    transform: rotate(270deg);
    background-size: cover;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.table-container {
    background-color: #EDF0F2;
}

.tableshadow {
    background-color: #CBD3D9;
    font-weight: bold;
}

.tableshadow-light {
    background-color: #F2F2F2;
}

.tableshadowdepth {
    background-color: #DCE4E8;
    color: #333333;
}

.row-container {
    padding: 10px 2px;
}

.row-box {
    margin: 0px 0px;
}

.row-box * {
    vertical-align: middle;
}

.title-padding {
    padding: 14px 16px;
}

.bottomBorder {
    border-bottom: 4px solid #232E72;
    padding-bottom: 12px;
}

.hide-transition {
    display: none;
    transition: opacity 1s ease-out;
}

.side-padding {
    padding: 0px 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-container-body {
    height: 85vh;
    overflow: auto;
}

.cc-icon {
    min-height: 20px;
}

/* Pagination Start */

.cc-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

/* Pagination END */

/*chicklet functionality start*/

.chicklet-cancel {
    background-image: url(../../../../../com/opentext/apps/utils/img/closemark.svg);
    background-size: cover;
    display: inline-block;
    height: 6px;
    width: 6px;
}

.chicklets-div {
    display: inline-block;
    margin-top: -5px;
}

.chicklet-text {
    font-family: OpenText Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
}

.chicklet {
    background: #E7F8F8;
    border: 1px solid #33C6C8;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 0px 2px 8px;
    margin-left: 2px;
    margin-top: 2px;
    /* height: 18px; */
}

/*chicklet functionality end*/

.cc-footer-sub {
    background-color: #f2f2f2;
    margin: 0px;
}

.input-group-addon {
    padding: 0px 12px;
}

#createconfiguratordetailsHeader {
    padding-top: 5px;
    padding-bottom: 5px;
}