#table_ruleConditionsTable>tbody>tr:hover {
    background-color: transparent !important;
}

#table_ruleConditionsTable>tbody>tr>td {
    vertical-align: top !important;
    line-height: 25px !important;
}

#table_rulesTable>tbody>tr:hover {
    background-color: transparent !important;
}

.cchideelement {
    display: none;
}

.cc-filter-body>div>select {
    background-image: none !important;
}

#div_ruleLogicValidationMessage {
    min-width: 250px;
    background-color: #FFF6EE;
    color: black;
    padding: 10px;
    border-bottom: 2px solid #DF6800;
}

ruleconditionbold {
    font-weight: bold;
}

.rule_row {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** Radio buttons CSS */

.cc-radioBtn {
    background: inherit;
    background-color: #565656;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: #565656;
    border-radius: 23px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.cc-radioBtn .active {
    border-width: 0px;
    background: inherit;
    background-color: #FFFFFF;
    border: none;
    border-radius: 23px;
    margin-top: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    color: #2E3D98
}

.cc-btn-pill {
    padding: 2px 7px;
    color: #FFFFFF;
    height: 20px
}

.notActive {
    padding: 3px 7px;
    color: #FFFFFF;
    height: 20px
}

.btn-settings {
    border: none;
    background-color: white;
    vertical-align: middle;
    padding: 3px;
}

.btn-ok-settings {
    border: none;
    background-color: white;
    vertical-align: middle;
    padding: 3px;
}

.btn-cancel-settings {
    border: none;
    background-color: white;
    vertical-align: middle;
    padding: 3px;
}

.btn-margin-left {
    margin-left: 3px;
}

.btn-margin-right {
    margin-right: 3px;
}

.cc-btn-pill:hover,
.cc-btn-pill:active {
    color: #2E3D98;
}

.caretup-icon {
    background-image: url(../../../../../com/opentext/apps/utils/img/caret_down.svg);
    transform: rotate(90deg);
    background-size: cover;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.caretdown-icon {
    background-image: url(../../../../../com/opentext/apps/utils/img/caret_down.svg);
    transform: rotate(270deg);
    background-size: cover;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.tabs-list-items {
    height: 32px;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.selected-item {
    background-color: rgb(203, 211, 217);
}

.form-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 85%;
}

.cc-input-browse-icon{
    padding: 6px 12px 4px 12px;
}
#toggleAllTabs{
	width: 13px;
	background-color: #EEF2F4;
	cursor: pointer;
}
.cc-ltr #toggleAllTabs{
	height: 99vh;
}
.cc-rtl #toggleAllTabs{
	height: 96vh;
}