@font-face {
	font-family: OpenText Sans;
	src: url(../fonts/OpenTextSans_Rg.ttf);
  }

body {
    font-family: OpenText Sans;
    font-style: normal;
}
.cc-info-message {
    font-family: 'Lato', 'Helvetica', 'Segoe UI', 'Tahoma', 'Arial', 'sans-serif';
    text-align: center;
    font-size: 2.25em;
    font-weight: 300;
    color: #333333;
    padding-top: 25%;
}

/* Checkbox and Radio button stylings */
.cc-checkbox {
    margin: auto;
    min-height: 14px;
    min-width: 14px;
    height: 28px;
    width: 28px;
    cursor: pointer;
    display: inline-block;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position-y: center;
}
.cc-select-column {
    margin: auto;
    width: 100%;
    min-height: 14px;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center center;
}
.cc-checkbox-off, .cc-checkbox-select-all-off {
    background-image: url(../img/checkbox18.svg);
}
.cc-checkbox-select-all-on {
    background-image: url(../img/checkbox18_all_selected.svg);
}
.cc-checkbox-select-all-partial {
    background-image: url(../img/checkbox18_partial.svg);
}
.cc-checkbox-on {
    background-image: url(../img/checkbox18_on.svg);
}
.cc-radio-off {
    background-image: url(../img/radio.svg);
}
.cc-radio-on {
    background-image: url(../img/radio_on.svg);
}
.cc-radio-on-disabled {
    background-image: url(../img/radio_on_dis.svg);
}

/* Toggle rounded sliders */
.cc-toggle-switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-bottom: 0px;
}
.cc-toggle-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.cc-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #757575;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: 26px center;
    background-size: 16px;
    -webkit-transition: .4s;
    transition: .4s;
}
.cc-toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .cc-toggle-slider {
    background-color: #2E3D98;
    background-image: url(../img/check-forms.svg);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 16px;
}
input:focus + .cc-toggle-slider {
    box-shadow: 0 0 1px #2E3D98;
}
input:checked + .cc-toggle-slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
.cc-toggle-slider.cc-toggle-round {
    border-radius: 34px;
}
.cc-toggle-slider.cc-toggle-round:before {
    border-radius: 50%;
}

/* List Styles */
.cc-parent-container {
    padding: 0px;
}
.cc-nopadding > [class*=col-]{
    /*padding:0px !important;*/
    margin:0px !important;
}
.cc-list{
	padding: 0px;
}
.cc-list tbody tr{
    cursor: pointer;
}
.cc-list tbody tr:hover{
    background-color:#b2bec5 !important;
}
.cc-header{
    background-color: #DCE4E8;
    height: 32px;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}
.table {
    table-layout:fixed;
}
.table thead{
	background-color: #EEF2F4;
}
.table>tbody>tr>td {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 42px;
    line-height: 0px;
}
.table>thead>tr>th {
    vertical-align: middle;
    font-weight: 100;
}
.table>tbody>tr:hover{
    background-color:#b2bec5 !important;
}
input[type=checkbox] { 
    width: 15px; 
    height: 15px; 
}
.cc-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0px;
    width: 100%;
    height: 2.5em;
    border-top: 1px solid #e8e8e8;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.cc-pagination-pageInput {
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 3px;
    border: 1px #757575 solid;
    width: 2em;
    /* margin-right: .5em; */
    /* margin-left: .5em; */
    align-items: center;
}
.li-pagination > span {
	background-color: transparent !important;
    border: transparent !important;
    color: #333 !important;
    padding: 6px !important;
}
.li-pagination > a {
	background-color: transparent !important;
    border: transparent !important;
    color: #333 !important;
    padding: 6px !important;
}
.cc-pagination-icon {
	height: 1.125em!important;
    width: 1.125em!important;
}
.cc-header-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding-left: 16px;
}
.cc-border {
    border:  1px solid #ddd;
}
.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 5px 0px;
}

/* List Filter Styles */
.cc-filter{
	padding: 0px;
}
.cc-filter .panel{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.cc-filter .cc-filter-header {
	-webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: #eff4e9;
    border-top: 1px solid #8cc53e;
    height: 32px;
    padding: .5em 1em .5em .5em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.cc-filter-header>img {
	height: 24px;
	width:24px;
	cursor: pointer;
}
.cc-filter-body {
	padding:10px;
}
.cc-filter .panel-heading{
    height: 45px;
    padding: 8px 15px;
}
.cc-filter .container{
	padding: 0px;
    margin: 0px;
    width: 100%;
}

/* Form Styles */
input{
    font-size: 14px !important;
    line-height: 28px !important;
    height: 28px !important;
    background: #FFFFFF !important;
    border: 1px solid #757575 !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
}
.cc-input-browse {
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.cc-input-browse-icon {
    border: 1px solid #757575 !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
    background: #FFFFFF !important;
    border-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.cc-nopadding{
    padding:0px !important;
    margin:0px !important;
}
.cc-element-nopadding{
    padding:0px !important;
    margin:0px !important;
}
.cc-required:before {
    content: "*";
    padding-right:1%;
	color:red;
}
.cc-error{
    border-color: #ff6347!important;
    background-color: #fae9ea !important;
}
.cc-error-message-text{
    color: #DF3324;
}
label {
    font-weight: 100;
}
.form-group>label{
	min-width:50%;
}
.form-control:focus {
    border-color: black;
    box-shadow: inset 0 1px 1px white, 0 0 8px white;
}
.cc-select {
    height: 28px !important;
    -webkit-appearance: none;
    outline: none;
    background-image: url(../img/caret_down.svg) !important;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 97%;
    border: 1px solid #757575 !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
}

/* Modal Styles */
.cc-warning-msg {
    background-image: url(../img/notification_question.svg);
    background-repeat: no-repeat;
    padding-left: 42px;
    min-height: 32px;
	padding-top: 5px;
}
.modal-header h3 {
    margin: 0 !important;
}


/* Button or Text-button Styles */
.cc-icon {
    width: 21px;
    margin-left: 6px;
    height: 21px;
    margin-right: 6px;
    outline-color: transparent;
}
.cc-input-icon {
    width: 14px;
    margin-left: 6px;
    height: 14px;
    margin-right: 6px;
    outline-color: transparent;
}
.cc-icon:hover {
	background-color: transparent;
    border: 0 transparent;
    padding: 0;
    display: inline-block;
    outline-color: transparent;
}
.cc-tr-icon {
	width: 20px;
    margin-left: 9px;
    height: 20px;
    margin-right: 9px;
}
.cc-tr-icon:hover {
	background-color: transparent;
    border: 0 transparent;
    padding: 0;
    display: inline-block;
    outline-color: transparent;
}
.cc-button {
	background-color: transparent;
    border: 0 transparent;
    padding: 0;
    display: inline-block;
}
.cc-button:hover {
	background-color: transparent;
    border: 0 transparent;
    padding: 0;
    display: inline-block;
    outline-color: transparent;
}
.cc-button:focus {
	background-color: transparent;
    border: 0 transparent;
    padding: 0;
    display: inline-block;
}
.cc-text-button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: transparent;
    color: #333;
    border: 0;
    font-size: 1.5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cc-text-button-primary {
    display: inline-block;
	min-width: 5em;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 3.75px 7.5px;
    line-height: 1.5;
    border-radius: 1em;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    border: 0;
    font-size: 14px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:focus {
    outline-color:transparent !important ;
}
.cc-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.cc-btn.cc-btn-primary {
    height: 32px;
    top: calc(50% - 32px/2 - 1px);
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    background: #232E72;
    border: 1px solid #2E3D98;
    box-sizing: border-box;
    border-radius: 16px;

    margin-right: 20px;
    padding: 3px 24px;
}
.cc-btn.cc-btn-primary:hover {
    background-color: #232E72;
    color: #ffffff;
    border-color: #2E3D98;
}
.cc-btn.cc-btn-secondary {
    height: 32px;
    top: calc(50% - 32px/2 - 1px);
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #2E3D98;

    background: #FFFFFF;
    border: 1px solid #2E3D98;
    box-sizing: border-box;
    border-radius: 16px;

    margin-right: 20px;
    padding: 3px 24px;
}

/* Notofication styles */

#errorToast,  #successToast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.09);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 3px;
    border-bottom: 3px solid #DF3324;
    padding: 6px 0px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 30px;
} 

#successToast {
    padding: 16px;
    border-bottom: 3px solid green;
}

#errorToast.show, #successToast.show {
    visibility: visible;
    opacity: 1;
  
}

#errorToast.hide, #successToast.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.cc-error-info-area {
    display: none;
    text-align: center;
    padding: 5px;
    border-bottom: 3px solid  #df3324;
    position: absolute;
    top: 5px;
    left: 5%;
    width: 90%;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.09);
}
/* background Images */
.cc-drag-drop-icon {
    background-image: url(../img/drag.svg);
    background-repeat: no-repeat;
    background-position-y: center;
}


/* Other styles */

.cc-vertical-line-separator {
    background-image: url(../img/vert_line.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1px;
    height: 100%;
    position: absolute;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}
.cc-modal-content {
    display: block;
    margin: auto;
    margin-top: 1%;
    border-radius: 0;
}
.cc-modal-header {
    background-color: #F5F5F5 !important;
    border-bottom: 1px #a9a9a9 solid !important;
    height: 56px !important;
    padding: 13px !important;
}
.cc-modal-body {
    height: calc(100% - 114px) !important;
    padding: 15px !important;
    overflow: auto !important;
}
.cc-modal-footer {
    background-color: #F5F5F5;
    border-top: 1px #a9a9a9 solid !important;
    height: 58px !important;
    padding: 13px !important;
}
.cc-round-background {
    background-image: url(../img/roundbackground.svg);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin: 3px 0px 0px 0px;
    text-align: center;
}


::-webkit-scrollbar-track
{
    background: #DCDCDC;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb
{
    background: #767676;
    border-radius: 10px;
}

